/* reset CSS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root représente l'élément racine 
donc intégration des éléments et class css réutilisables sur le site */
:root {
  /* palette de couleurs */
  --main-white: #dddddd;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-yellow: #e6d28c;
  --dark-yellow: #f4cb38;

  /* Fonts */
  --base-font: Open sans, sans-serif;
  --title-font: Merriweather, serif;

  /* Font-size */
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 2.4rem;
  --text-2xl: 3rem;
  --text-3xl: 3.6rem;
  --text-4xl: 4.2rem;
  --text-5xl: 5rem;
  --text-6xl: 6rem;
  --text-7xl: 7.2rem;

  /* Spacing */
  --space-1: 0.1rem;
  --space-2: 0.2rem;
  --space-4: 0.4rem;
  --space-6: 0.6rem;
  --space-8: 0.8rem;
  --space-10: 1rem;
  --space-12: 1.2rem;
  --space-16: 1.6rem;
  --space-20: 2rem;
  --space-28: 2.8rem;
  --space-36: 3.6rem;
  --space-44: 4.4rem;
  --space-52: 5.2rem;
  --space-60: 6rem;
  --space-72: 7.2rem;
  --space-84: 8.4rem;
  --space-96: 9.6rem;
}
